@* Display one kind of data and create a different kind of data from the <form>
  all with the same view model and no ViewBag
*@
@model RegisterView

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>Register</h2>

  <h3>Lucky Numbers</h3>
  @foreach (int luckyNumber in Model.LuckyNumbers)
  {
    <span>@luckyNumber</span>
  }

  <form action="/users/process-registration2" method="POST">
    <div>
      <label>First Name</label>
      @* the User is NESTED as a property of the view model *@
      <input type="text" name="NewUser.FirstName">
    </div>
    <div>
      <label>Last Name</label>
      <input type="text" name="NewUser.LastName">
    </div>
    <button>Submit</button>
  </form>
</body>

</html>