@model LoginUser

<h3 class="text-center">Login</h3>
<hr />

<form asp-action="Login" asp-controller="Home" method="POST">
  <div class="mb-3">
    <label class="form-label" asp-for="LoginEmail"></label>
    <span class="text-danger fw-bold" asp-validation-for="LoginEmail"></span>
    <input class="form-control" asp-for="LoginEmail" />
  </div>

  <div class="mb-3">
    <label class="form-label" asp-for="LoginPassword"></label>
    <span class="text-danger fw-bold" asp-validation-for="LoginPassword"></span>
    @* prefill password for testing for easy login *@
    <input class="form-control" asp-for="LoginPassword" value="asdfasdf" />
  </div>

  <button class="btn btn-outline-success">Login</button>
</form>