@model User

<h3 class="text-center">Register</h3>
<hr />

<form asp-controller="Home" asp-action="Register" method="POST">

  <div class="mb-3">
    <label class="form-label" asp-for="FirstName"></label>
    <span asp-validation-for="FirstName" class="text-danger fw-bold"></span>
    <input asp-for="FirstName" class="form-control" />
  </div>

  <div class="mb-3">
    <label class="form-label" asp-for="LastName"></label>
    <span asp-validation-for="LastName" class="text-danger fw-bold"></span>
    <input asp-for="LastName" class="form-control" />
  </div>

  <div class="mb-3">
    <label class="form-label" asp-for="Email"></label>
    <span asp-validation-for="Email" class="text-danger fw-bold"></span>
    <input asp-for="Email" class="form-control" />
  </div>

  <div class="mb-3">
    <label class="form-label" asp-for="Password"></label>
    <span asp-validation-for="Password" class="text-danger fw-bold"></span>
    @* prefill password for testing for easy register & login *@
    <input asp-for="Password" class="form-control" value="asdfasdf" />
  </div>

  <div class="mb-3">
    <label class="form-label" asp-for="PasswordConfirm"></label>
    <span asp-validation-for="PasswordConfirm" class="text-danger fw-bold"></span>
    @* prefill password for testing for easy register & login *@
    <input asp-for="PasswordConfirm" class="form-control" value="asdfasdf" />
  </div>

  <button class="btn btn-outline-primary">Register</button>
</form>