@{
    ViewData["Title"] = "Home Page";
}

@model Pet

<div class="text-center">
    <div class="row">
        <div class="col-md">Fullness: @Model.Fullness</div>
        <div class="col-md">Happiness: @Model.Happiness</div>
        <div class="col-md">Meals: @Model.Meals</div>
        <div class="col-md">Energy: @Model.Energy</div>
    </div>
</div>
